.navbar{
    background-color: black;
    height: 30px;
    color: white;
    display: flex;
    
}
.navlink{
    text-decoration: none;
    margin-left: 37%;
    text-decoration: none;
    font-size: larger;
    display: flex;


}